{% extends 'layout.html' %}

{% block content %}
<h2>ホーム画面</h2>
<div class="post-list">
    {% for post in object_list %}
    <div class="post">
        <p>タイトル：{{ post.title }}</p>
        <p>メモ：{{ post.memo }}</p>
        <p>投稿者名：{{ post.author }}</p>
        <p>============================</p>
    </div>
    {% endfor %}
    <div class="form">
        <a href="{% url 'form' %}">新規投稿</a>
    </div>
</div>
<div class="login-user">
    <p>

        {% if user.is_authenticated %}
            <em>{{ user.username }}でログインしています</em>
            ログアウトするなら→<a href="{% url 'logout' %}">ログアウト！</a>
        {% else %}
            <em>まだログインしていません．</em><br>
            ログインは<a href="{% url 'login' %}">こちら</a>
        {% endif %}
    </p>
</div>
{% endblock %}